<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kexin.admin.mapper.DeviceMapper">

    <resultMap id="BaseMapper" type="com.kexin.admin.entity.tables.Device">
        <id property="machineId" column="MACHINE_ID" jdbcType="INTEGER"></id>
        <result property="machineCode"       column="MACHINE_CODE"  jdbcType="VARCHAR"/>
        <result property="machineName"      column="MACHINE_NAME" jdbcType="VARCHAR"/>
        <result property="machineIp"      column="MACHINE_IP" jdbcType="VARCHAR"/>
        <result property="useFlag"     column="USE_FLAG" jdbcType="INTEGER"/>
        <result property="startDate"    column="START_DATE" jdbcType="DATE"/>
        <result property="endDate"     column="END_DATE" jdbcType="DATE"/>
        <result property="note"     column="NOTE" jdbcType="VARCHAR"/>
        <!--    <result property="useMachineWasteNoJudge"     column="USE_MACHINE_WASTE_NO_JUDGE" jdbcType="INTEGER"/>-->
        <!--    <result property="ftpModelPath"     column="FTP_MODEL_PATH" jdbcType="VARCHAR"/>-->


        <!--    <result property="machineCodeMes"     column="MACHINE_CODE_MES" jdbcType="VARCHAR"/>-->
        <!--    <collection property="children" select="selectShowMenuByUser"  column="{parentId = id,userId = myuserId}">-->
        <!--    </collection>-->
    </resultMap>
    <update id="updateUseFlag" parameterType="java.lang.Integer">
        update DIC_MACHINES set USE_FLAG=#{device.useFlag} where MACHINE_ID=#{device.machineId}
    </update>


    <!--    <resultMap id="BaseResultMap" type="com.kexin.admin.entity.tables.Device">
            <id column="MACHINE_TYPE_ID" property="machineTypeId" />
            <result column="MACHINE_TYPE_CODE" property="machineTypeCode" />
            <result column="MACHINE_TYPE_NAME" property="machineTypeName" />
            <result column="USE_FLAG" property="useFlag" />
            <result column="START_DATE" property="startDate" />
            <result column="END_DATE" property="endDate" />
            <result column="NOTE" property="note" />
        </resultMap>-->
<!--    <select id="selectDevicePage" resultMap="BaseResultMap">
        select MACHINE_TYPE_ID,MACHINE_TYPE_CODE,MACHINE_TYPE_NAME,USE_FLAG,START_DATE,END_DATE,NOTE
        FROM dic_machine_types
        <where>
            <if test="useFlag!=3">
                USE_FLAG=#{useFlag}
            </if>
            <if test="facilityTypeName!='' and facilityTypeName!=null">
                and  MACHINE_TYPE_NAME like  '%${facilityTypeName}%'
            </if>

        </where>
        GROUP BY MACHINE_TYPE_ID
        order by START_DATE ASC
    </select>-->




</mapper>