<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kexin.admin.mapper.QaInspectMasterMapper">

  <resultMap id="BaseMapper" type="com.kexin.admin.entity.tables.QaInspectMaster">
    <id property="inspectmId" column="INSPECTM_ID" jdbcType="INTEGER"/>
    <result property="allowJudge" column="ALLOW_JUDGE" jdbcType="INTEGER"/>
    <result property="infoNumber" column="INFO_NUMBER" jdbcType="INTEGER"/>
    <result property="machineWasterNumber" column="MACHINE_WASTER_NUMBER" jdbcType="INTEGER"/>
    <result property="noCheckNum" column="NOCHECK_NUMBER" jdbcType="INTEGER"/>
    <result property="judgeWasterNumber" column="JUDGE_WASTER_NUMBER" jdbcType="INTEGER"/>
    <result property="itemFlag" column="ITEM_FLAG" jdbcType="INTEGER"/>
    <result property="lastUpdateTime" column="LAST_UPDATE_TIME" jdbcType="DATE"/>
    <result property="note" column="NOTE" jdbcType="VARCHAR"/>
    <result property="autoCheckFlag" column="AUTO_CHECK_FLAG" jdbcType="INTEGER"/>
    <result property="checkDate" column="CHECK_DATE" jdbcType="DATE"/>
    <collection property="wipProdLogs"  ofType="com.kexin.admin.entity.tables.WipProdLogs">
      <result property="logId" column="LOG_ID" jdbcType="INTEGER"/>
      <result property="jobId" column="JOB_ID" jdbcType="INTEGER"/>
      <result property="operationId" column="OPERATION_ID" jdbcType="INTEGER"/>
      <result property="machineId" column="MACHINE_ID" jdbcType="INTEGER"/>
      <result property="workUnitId" column="WORK_UNIT_ID" jdbcType="INTEGER"/>
      <result property="operatorId" column="OPERATOR_ID" jdbcType="INTEGER"/>
      <result property="itemFlag" column="ITEM_FLAG" jdbcType="INTEGER"/>
      <result property="qainfonum" column="QAINFONUM" jdbcType="INTEGER"/>
      <result property="qawasternum" column="QAWASTERNUM" jdbcType="INTEGER"/>
      <result property="qawasternum" column="QAWASTERNUM" jdbcType="INTEGER"/>
      <result property="startDate" column="START_DATE" jdbcType="DATE"/>
    </collection>
    <collection property="wipJobs"  ofType="com.kexin.admin.entity.tables.WipJobs">
      <result property="jobId" column="JOB_ID" jdbcType="INTEGER"/>
      <result property="cartNumber" column="CART_NUMBER" jdbcType="VARCHAR"/>
    </collection>
    <collection property="product"  ofType="com.kexin.admin.entity.tables.Products">
      <result property="productId" column="PRODUCT_ID"/>
      <result property="productCode" column="PRODUCT_CODE" jdbcType="VARCHAR"/>
      <result property="productName" column="PRODUCT_NAME" jdbcType="VARCHAR"/>
    </collection>
    <collection property="operation"  ofType="com.kexin.admin.entity.tables.Operation">
      <result property="operationId" column="OPERATION_ID" jdbcType="INTEGER"/>
      <result property="operationCode" column="OPERATION_CODE" jdbcType="VARCHAR"/>
      <result property="operationName" column="OPERATION_NAME" jdbcType="VARCHAR"/>
    </collection>
    <collection property="operator"  ofType="com.kexin.admin.entity.tables.Operator">
      <result property="operatorId" column="OPERATOR_ID" jdbcType="INTEGER"/>
      <result property="operatorCode" column="OPERATOR_CODE" jdbcType="VARCHAR"/>
      <result property="operatorName" column="OPERATOR_NAME" jdbcType="VARCHAR"/>
    </collection>
    <collection property="machine"  ofType="com.kexin.admin.entity.tables.Machine">
      <result property="machineId" column="MACHINE_ID" jdbcType="INTEGER"/>
      <result property="machineCode" column="MACHINE_CODE" jdbcType="VARCHAR"/>
      <result property="machineName" column="MACHINE_NAME" jdbcType="VARCHAR"/>
    </collection>
    <collection property="dicWorkUnits"  ofType="com.kexin.admin.entity.tables.DicWorkUnits">
      <result property="workUnitId" column="WORK_UNIT_ID" jdbcType="INTEGER"/>
      <result property="workUnitCode" column="WORK_UNIT_CODE" jdbcType="VARCHAR"/>
      <result property="workUnitName" column="WORK_UNIT_NAME" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  <resultMap id="BaseMapper1" type="com.kexin.admin.entity.tables.QaInspectMaster">
    <id property="inspectmId" column="INSPECTM_ID" jdbcType="INTEGER"/>
    <result property="allowJudge" column="ALLOW_JUDGE" jdbcType="INTEGER"/>
    <collection property="wipJobs"  ofType="com.kexin.admin.entity.tables.WipJobs">
      <result property="jobId" column="JOB_ID" jdbcType="INTEGER"/>
      <result property="cartNumber" column="CART_NUMBER" jdbcType="VARCHAR"/>
    </collection>

  </resultMap>
  <select id="selectQaInspectMaster" resultMap="BaseMapper">
       select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE

    from QA_INSPECT_MASTER  atm

    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    where atm.allow_judge=#{allowJudge} and atm.AUTO_CHECK_FLAG=2

    order by atm.inspectm_id desc
  </select>



  <select id="getAllQaInspectMaster" resultMap="BaseMapper">
    select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE
    from QA_INSPECT_MASTER  atm
    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    where atm.AUTO_CHECK_FLAG=2 and atm.allow_judge = 0
    or  (atm.allow_judge in (1,2)  and  atm.LAST_UPDATE_TIME BETWEEN #{startTime} AND #{endTime})
    order by atm.inspectm_id desc
  </select>

  <select id="getCanAuditInspectMaster" resultMap="BaseMapper">
    select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE
    from QA_INSPECT_MASTER  atm
    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    <where>
--        atm.allow_judge = 0 and atm.AUTO_CHECK_FLAG = 0
       atm.allow_judge = 0
      <if test="startTime!=null and endTime!=null">
        and  atm.LAST_UPDATE_TIME BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="cartNumber!=null">
        and wj.CART_NUMBER like '%${cartNumber}%'
      </if>
    </where>

    order by atm.inspectm_id desc
  </select>
  <select id="getAlreadyAuditInspectMaster" resultMap="BaseMapper">
    select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE
    from QA_INSPECT_MASTER  atm
    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    <where>

      atm.allow_judge in (1,-1,2)

      <if test="startTime!=null and endTime!=null">
        and  atm.CHECK_DATE BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="cartNumber!=null">
        and wj.CART_NUMBER like '%${cartNumber}%'
      </if>
      and atm.AUTO_CHECK_FLAG = 2
    </where>
    order by atm.CHECK_DATE desc
  </select>
  <select id="getNotAuditInspectMaster" resultMap="BaseMapper">
    select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE
    from QA_INSPECT_MASTER  atm
    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    where atm.allow_judge = -1  and  atm.LAST_UPDATE_TIME BETWEEN #{startTime} AND #{endTime}
    order by atm.inspectm_id desc
  </select>
  <select id="selectQaInspectMasterByIds" resultMap="BaseMapper1">
    select
    wj.job_id,wj.CART_NUMBER,
    atm.inspectm_id,atm.allow_judge
    from QA_INSPECT_MASTER  atm
    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    where atm.inspectm_id in #{inspectmIds}
  </select>


  <select id="selectQaInspectMasterByInspectmIds" resultMap="BaseMapper" parameterType="java.lang.Integer">
    select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE

    from QA_INSPECT_MASTER  atm

    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    where atm.AUTO_CHECK_FLAG=2 and atm.INSPECTM_ID in
    <foreach collection="inspectmIds" item="item" index="index" open="("
             separator="," close=")">
      #{item}
    </foreach>
  </select>
  <select id="selectQaInspectMasterByInspectmId" resultMap="BaseMapper" parameterType="java.lang.Integer">
    select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE

    from QA_INSPECT_MASTER  atm

    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    where atm.AUTO_CHECK_FLAG=2 and atm.INSPECTM_ID = #{inspectmId}
  </select>
  <select id="getAlreadyAuditInspectMasterByAllowJudge"  resultMap="BaseMapper">
    select
    wj.job_id,wj.CART_NUMBER,
    dp.product_id,dp.product_code,dp.product_name,
    wpl.log_id, wpl.JOB_ID,wpl.OPERATION_ID,wpl.MACHINE_ID,wpl.WORK_UNIT_ID,
    wpl.ITEM_FLAG,wpl.QAINFONUM,wpl.QAWASTERNUM,wpl.SMINFONUM,wpl.START_DATE,
    dop.operation_id,dop.operation_code,dop.operation_name,
    doa.operator_id,doa.operator_code,doa.operator_name,
    dm.machine_id,dm.machine_code,dm.machine_name,
    dwu.work_unit_id,dwu.work_unit_code,dwu.work_unit_name,
    atm.inspectm_id,atm.allow_judge,atm.MACHINE_WASTER_NUMBER,
    atm.INFO_NUMBER,atm.NOCHECK_NUMBER,atm.ITEM_FLAG,atm.JUDGE_WASTER_NUMBER,atm.LAST_UPDATE_TIME,
    atm.NOTE,atm.AUTO_CHECK_FLAG,atm.CHECK_DATE
    from QA_INSPECT_MASTER  atm
    left join wip_prod_logs wpl on wpl.log_id=atm.log_id
    left join wip_jobs  wj on wj.job_id=wpl.job_id
    left join dic_products dp on dp.product_id=wj.product_id
    left join dic_operations dop on dop.operation_id=wpl.operation_id
    left join dic_operators doa on doa.operator_id=wpl.operator_id
    left join dic_machines dm on dm.machine_id=wpl.machine_id
    left join dic_work_units dwu on dwu.work_unit_id=wpl.work_unit_id
    <where>
      atm.AUTO_CHECK_FLAG=2
      <if test="allowJudge!=null">
        and atm.allow_judge = #{allowJudge}
      </if>
      <if test="startTime!=null and endTime!=null">
        and  atm.LAST_UPDATE_TIME BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="cartNumber!=null">
        and wj.CART_NUMBER like '%${cartNumber}%'
      </if>
    </where>
    order by atm.allow_judge asc

  </select>

</mapper>